.meeting-modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--background-color-rgb), 0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    z-index: 1000;
    pointer-events: auto;
}

.meeting-modal {
    height: 100%;
    width: 60vw;
    background-color: var(--background-color);
    padding: var(--spacing-huge) var(--spacing-huge);
    border-left: 1px solid var(--border-color)
}

.modal-title {
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-tight);
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-xl);
}