.meeting-modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--background-color-rgb), 0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    z-index: 1000;
    pointer-events: auto;
}

.meeting-modal {
    height: 100%;
    width: 60vw;
    background-color: var(--background-color);
    padding: var(--spacing-huge) var(--spacing-huge);
    border-left: 1px solid var(--border-color);
    overflow-y: auto;
}

.modal-title {
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-tight);
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
}

.hor-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: left;
    margin-bottom: var(--spacing-xxl);
}

.close-button {
    margin-left: auto;
    cursor: pointer;
    color: rgb(var(--text-color-rgb), 0.7);
    padding: var(--spacing-sm)
}

.close-button:hover {
    color: rgb(var(--text-color-rgb), 1);
}

@media (max-width: 768px) {
    .meeting-modal {
        width: 100%;
        padding: var(--spacing-md) var(--spacing-md);
        border-left: none;
    }

    .hor-div {
        margin-bottom: var(--spacing-md);
    }
}