.landing-title-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxl);
    align-items: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

/* Header Section */
.chat-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
  }
  
  .chat-header h1 {
    font-size: var(--font-size-heading);
    line-height: var(--line-height-tight);
    color: var(--text-color);
    margin-bottom: var(--spacing-xl);
  }
  
  .subtitle {
    font-size: var(--font-size-lg);
    color: rgb(var(--text-color-rgb), 0.8);
    line-height: var(--line-height-para);
    max-width: 400px;
}

.suggestions-wrap {
      margin-bottom: var(--spacing-xxl);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

  }

    .hor-wrap {
    display: flex;
    flex-direction: row;
    }

    .suggestion-button {
    border: 1px solid rgb(var(--text-color-rgb), 0.1);
    padding: var(--spacing-xs) var(--spacing-lg);
    border-radius: var(--border-radius-pill);
    color: rgb(var(--text-color-rgb), 0.6);
    font-size: var(--font-size-sm);
    margin: var(--spacing-xs);
    flex-shrink: 0;
    flex-grow: 0;
}

.suggestion-button:hover {
    color: rgb(var(--text-color-rgb), 1);
    background-color: rgb(var(--text-color-rgb), 0.05);
    border: 1px solid rgb(var(--text-color-rgb), 0.2);
    cursor: pointer;
}