.navbar {
    position: fixed;
    top: 0;
    flex: 0 0 auto;
    width: 100vw;
    border-bottom: 0.5px solid var(--border-color);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.nav-container {
    max-width: 1200px;
    padding: 0 var(--spacing-sm);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-image {
    width: 50px;
    height: 50px;
    border-radius: 100000px;
    background-image: url('../../assets/images/personal-headshot.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 0;
    margin-right: auto;
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
}

.nav-button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md)
}

.nav-button {
    padding: var(--spacing-lg) var(--spacing-xxl);
    color: rgb(var(--text-color-rgb), 0.8);
    cursor: pointer;
}

.nav-button:hover {
    color: rgb(var(--text-color-rgb), 1)
}

.nav-button-highlight {
    background-color: rgb(var(--text-color-rgb), 0.9);
    color: var(--background-color);
    padding: var(--spacing-xs) var(--spacing-xl);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
}

.nav-button-highlight:hover {
    background-color: rgb(var(--text-color-rgb), 1);
}

@media (max-width: 768px) {
    .nav-button {
        display: none;
    }
}