.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--background-color-rgb), 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    pointer-events: auto;
}

.modal {
    width: 700px;
    padding: var(--spacing-xxxl) var(--spacing-xxxl);
    background-color: var(--card-color);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--border-color);
    position: relative;
    z-index: 1001;
    pointer-events: auto;
}

.form-title {
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-tight);
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-xl);
}

.checbkox-wrap-parent {
    margin: var(--spacing-xl) 0;
}

.checkbox-wrap {
    font-size: var(--font-size-sm);
    margin: var(--spacing-sm) 0;
    color: var(--text-secondary);
    display: flex;
    align-items: center;

}

.checkbox {
    margin-right: var(--spacing-sm)
}

.modal-submit-btn {
    width: 100%;
    padding: var(--spacing-lg) 0;
    margin-top: var(--spacing-lg);
    background-color: rgb(var(--text-color-rgb), 0.8);
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    border: none;
    border-radius: var(--border-radius-sm);
}

.modal-submit-btn:hover {
    background-color: rgb(var(--text-color-rgb), 1);
}

.button-sub-text-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-xs);
    margin: var(--spacing-sm) 0;
    color: rgb(var(--text-color-rgb), 0.7);
    cursor: pointer;
}
