.chat-interface-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--spacing-xl);
  }
  
  .chat-section-wrap {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding: var(--spacing-md);
  }

  .chat-section {
    width: 600px;
    padding: 0 var(--spacing-lg);
  }
  
  .prompt-wrap {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: var(--spacing-xl);
  }
  
  .prompt-subtext {
    margin-top: var(--spacing-sm);
    font-size: var(--font-size-xs);
    color: var(--text-secondary);
  }

  .usr-message {
    width: fit-content;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-sm) var(--spacing-lg);
    margin: var(--spacing-lg) 0;
    color: var(--text-secondary);
    text-align: right;
    margin-left: auto;
  }